<a href="https://colab.research.google.com/github/ouahenre/Jupiter_notebook_exercices_for_python_pandas_numpy/blob/main/pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Analyse de données sur les crimes ayant été commis à Chicago depuis 2001 à nos jours août 2024. Le fichier CSV téléchargé comporte plus de 8 millions de lignes.
On utilisera Pyspark pour sa rapidité sur Pandas

In [ ]:
pip install pyspark -q

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 4.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
  Building wheel for pyspark (setup.py) ... done

In [ ]:
pip install findspark -q

In [ ]:
#création d'une session Spark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Pyspark project').getOrCreate()

sample_data/

source de données https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-Present/ijzp-q8t2/about_data

In [ ]:
Téléchargement du fichier csv

In [ ]:
!wget https://data.cityofchicago.org/api/views/ijzp-q8t2/rows.csv?accessType=DOWNLOAD

--2024-08-22 21:20:32--  https://data.cityofchicago.org/api/views/ijzp-q8t2/rows.csv?accessType=DOWNLOAD
Resolving data.cityofchicago.org (data.cityofchicago.org)... 52.206.140.199, 52.206.140.205, 52.206.68.26
Connecting to data.cityofchicago.org (data.cityofchicago.org)|52.206.140.199|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: ‘rows.csv?accessType=DOWNLOAD’

rows.csv?accessType     [              <=>   ]   1.79G  2.86MB/s    in 11m 22s

2024-08-22 21:31:54 (2.69 MB/s) - ‘rows.csv?accessType=DOWNLOAD’ saved [1921893857]

In [ ]:
ls

 reported-crimes.csv  'rows.csv?accessType=DOWNLOAD'   sample_data/

renommage du fichier

In [ ]:
!mv rows.csv?accessType=DOWNLOAD reported-crimes.csv

In [ ]:
ls

reported-crimes.csv  sample_data/

Ingestion de données dans le dataframe

In [ ]:
#lecture du fichier
df=spark.read.csv('reported-crimes.csv',
                  header=True)
df.show(5)

+--------+-----------+--------------------+--------------------+----+------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+--------+---------+--------+
|      ID|Case Number|                Date|               Block|IUCR|      Primary Type|         Description|Location Description|Arrest|Domestic|Beat|District|Ward|Community Area|FBI Code|X Coordinate|Y Coordinate|Year|          Updated On|Latitude|Longitude|Location|
+--------+-----------+--------------------+--------------------+----+------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+--------+---------+--------+
|11037294|   JA371270|03/18/2015 12:00:...|   0000X W WACKER DR|1153|DECEPTIVE PRACTICE|FINANCIAL IDENTIT...|                BANK| false|   false|0111|     001|  42|            32|      11|        NULL|        NULL|2015|08/01/2017 03:52:...|    NULL|     NULL|    NULL|
|11646293|   JC213749|12/20/2018 03:00:...|023XX N LOCKWOOD AVE|1154|DECEPTIVE PRACTICE|FINANCIAL IDENTIT...|           APARTMENT| false|   false|2515|     025|  36|            19|      11|        NULL|        NULL|2018|04/06/2019 04:04:...|    NULL|     NULL|    NULL|
|11645836|   JC212333|05/01/2016 12:25:...| 055XX S ROCKWELL ST|1153|DECEPTIVE PRACTICE|FINANCIAL IDENTIT...|                NULL| false|   false|0824|     008|  15|            63|      11|        NULL|        NULL|2016|04/06/2019 04:04:...|    NULL|     NULL|    NULL|
|11645959|   JC211511|12/20/2018 04:00:...|  045XX N ALBANY AVE|2820|     OTHER OFFENSE|    TELEPHONE THREAT|           RESIDENCE| false|   false|1724|     017|  33|            14|     08A|        NULL|        NULL|2018|04/06/2019 04:04:...|    NULL|     NULL|    NULL|
|11645601|   JC212935|06/01/2014 12:01:...| 087XX S SANGAMON ST|1153|DECEPTIVE PRACTICE|FINANCIAL IDENTIT...|           RESIDENCE| false|   false|2222|     022|  21|            71|      11|        NULL|        NULL|2014|04/06/2019 04:04:...|    NULL|     NULL|    NULL|
+--------+-----------+--------------------+--------------------+----+------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+--------+---------+--------+
only showing top 5 rows

In [ ]:
df.count()

8136299

In [ ]:
#Panda prend 1 mn pour l'import en dataframe et l'affichage des 5 1res lignes
#Or Pyspark prend 1 s
import pandas as pd
df_pandas=pd.read_csv('reported-crimes.csv')
df_pandas.head(5)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,11037294,JA371270,03/18/2015 12:00:00 PM,0000X W WACKER DR,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,BANK,False,False,...,42.0,32.0,11,NaN,NaN,2015,08/01/2017 03:52:26 PM,NaN,NaN,NaN
1,11646293,JC213749,12/20/2018 03:00:00 PM,023XX N LOCKWOOD AVE,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,APARTMENT,False,False,...,36.0,19.0,11,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,NaN,NaN
2,11645836,JC212333,05/01/2016 12:25:00 AM,055XX S ROCKWELL ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,...,15.0,63.0,11,NaN,NaN,2016,04/06/2019 04:04:43 PM,NaN,NaN,NaN
3,11645959,JC211511,12/20/2018 04:00:00 PM,045XX N ALBANY AVE,2820,OTHER OFFENSE,TELEPHONE THREAT,RESIDENCE,False,False,...,33.0,14.0,08A,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,NaN,NaN
4,11645601,JC212935,06/01/2014 12:01:00 AM,087XX S SANGAMON ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,21.0,71.0,11,NaN,NaN,2014,04/06/2019 04:04:43 PM,NaN,NaN,NaN

In [ ]:
type(df)

pyspark.sql.dataframe.DataFrame

In [ ]:
#type des variables
df.printSchema()

root
 |-- ID: string (nullable = true)
 |-- Case Number: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Block: string (nullable = true)
 |-- IUCR: string (nullable = true)
 |-- Primary Type: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Location Description: string (nullable = true)
 |-- Arrest: string (nullable = true)
 |-- Domestic: string (nullable = true)
 |-- Beat: string (nullable = true)
 |-- District: string (nullable = true)
 |-- Ward: string (nullable = true)
 |-- Community Area: string (nullable = true)
 |-- FBI Code: string (nullable = true)
 |-- X Coordinate: string (nullable = true)
 |-- Y Coordinate: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Updated On: string (nullable = true)
 |-- Latitude: string (nullable = true)
 |-- Longitude: string (nullable = true)
 |-- Location: string (nullable = true)

Manipulation des données

In [ ]:
from pyspark.sql.functions import to_timestamp,col
df=df.withColumn(
    'Date',
    to_timestamp(col('Date'),'MM/dd/yyyy hh:mm:ss a'))
df.printSchema()

root
 |-- ID: string (nullable = true)
 |-- Case Number: string (nullable = true)
 |-- Date: timestamp (nullable = true)
 |-- Block: string (nullable = true)
 |-- IUCR: string (nullable = true)
 |-- Primary Type: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Location Description: string (nullable = true)
 |-- Arrest: string (nullable = true)
 |-- Domestic: string (nullable = true)
 |-- Beat: string (nullable = true)
 |-- District: string (nullable = true)
 |-- Ward: string (nullable = true)
 |-- Community Area: string (nullable = true)
 |-- FBI Code: string (nullable = true)
 |-- X Coordinate: string (nullable = true)
 |-- Y Coordinate: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Updated On: string (nullable = true)
 |-- Latitude: string (nullable = true)
 |-- Longitude: string (nullable = true)
 |-- Location: string (nullable = true)

In [ ]:
df.show(5)

+--------+-----------+-------------------+--------------------+----+------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+--------+---------+--------+
|      ID|Case Number|               Date|               Block|IUCR|      Primary Type|         Description|Location Description|Arrest|Domestic|Beat|District|Ward|Community Area|FBI Code|X Coordinate|Y Coordinate|Year|          Updated On|Latitude|Longitude|Location|
+--------+-----------+-------------------+--------------------+----+------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+--------+---------+--------+
|11037294|   JA371270|2015-03-18 12:00:00|   0000X W WACKER DR|1153|DECEPTIVE PRACTICE|FINANCIAL IDENTIT...|                BANK| false|   false|0111|     001|  42|            32|      11|        NULL|        NULL|2015|08/01/2017 03:52:...|    NULL|     NULL|    NULL|
|11646293|   JC213749|2018-12-20 15:00:00|023XX N LOCKWOOD AVE|1154|DECEPTIVE PRACTICE|FINANCIAL IDENTIT...|           APARTMENT| false|   false|2515|     025|  36|            19|      11|        NULL|        NULL|2018|04/06/2019 04:04:...|    NULL|     NULL|    NULL|
|11645836|   JC212333|2016-05-01 00:25:00| 055XX S ROCKWELL ST|1153|DECEPTIVE PRACTICE|FINANCIAL IDENTIT...|                NULL| false|   false|0824|     008|  15|            63|      11|        NULL|        NULL|2016|04/06/2019 04:04:...|    NULL|     NULL|    NULL|
|11645959|   JC211511|2018-12-20 16:00:00|  045XX N ALBANY AVE|2820|     OTHER OFFENSE|    TELEPHONE THREAT|           RESIDENCE| false|   false|1724|     017|  33|            14|     08A|        NULL|        NULL|2018|04/06/2019 04:04:...|    NULL|     NULL|    NULL|
|11645601|   JC212935|2014-06-01 00:01:00| 087XX S SANGAMON ST|1153|DECEPTIVE PRACTICE|FINANCIAL IDENTIT...|           RESIDENCE| false|   false|2222|     022|  21|            71|      11|        NULL|        NULL|2014|04/06/2019 04:04:...|    NULL|     NULL|    NULL|
+--------+-----------+-------------------+--------------------+----+------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+--------+---------+--------+
only showing top 5 rows

In [ ]:
#affichage de colonnes particulières
df.select('Description','Date','Arrest').show(5)

+--------------------+-------------------+------+
|         Description|               Date|Arrest|
+--------------------+-------------------+------+
|FINANCIAL IDENTIT...|2015-03-18 12:00:00| false|
|FINANCIAL IDENTIT...|2018-12-20 15:00:00| false|
|FINANCIAL IDENTIT...|2016-05-01 00:25:00| false|
|    TELEPHONE THREAT|2018-12-20 16:00:00| false|
|FINANCIAL IDENTIT...|2014-06-01 00:01:00| false|
+--------------------+-------------------+------+
only showing top 5 rows

In [ ]:
#Créer une nouvelle colonne et l'initialiser à 1
from pyspark.sql.functions import lit
df=df.withColumn('One',lit(1))
df.show(5)

+--------+-----------+-------------------+--------------------+----+------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+--------+---------+--------+---+
|      ID|Case Number|               Date|               Block|IUCR|      Primary Type|         Description|Location Description|Arrest|Domestic|Beat|District|Ward|Community Area|FBI Code|X Coordinate|Y Coordinate|Year|          Updated On|Latitude|Longitude|Location|One|
+--------+-----------+-------------------+--------------------+----+------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+--------+---------+--------+---+
|11037294|   JA371270|2015-03-18 12:00:00|   0000X W WACKER DR|1153|DECEPTIVE PRACTICE|FINANCIAL IDENTIT...|                BANK| false|   false|0111|     001|  42|            32|      11|        NULL|        NULL|2015|08/01/2017 03:52:...|    NULL|     NULL|    NULL|  1|
|11646293|   JC213749|2018-12-20 15:00:00|023XX N LOCKWOOD AVE|1154|DECEPTIVE PRACTICE|FINANCIAL IDENTIT...|           APARTMENT| false|   false|2515|     025|  36|            19|      11|        NULL|        NULL|2018|04/06/2019 04:04:...|    NULL|     NULL|    NULL|  1|
|11645836|   JC212333|2016-05-01 00:25:00| 055XX S ROCKWELL ST|1153|DECEPTIVE PRACTICE|FINANCIAL IDENTIT...|                NULL| false|   false|0824|     008|  15|            63|      11|        NULL|        NULL|2016|04/06/2019 04:04:...|    NULL|     NULL|    NULL|  1|
|11645959|   JC211511|2018-12-20 16:00:00|  045XX N ALBANY AVE|2820|     OTHER OFFENSE|    TELEPHONE THREAT|           RESIDENCE| false|   false|1724|     017|  33|            14|     08A|        NULL|        NULL|2018|04/06/2019 04:04:...|    NULL|     NULL|    NULL|  1|
|11645601|   JC212935|2014-06-01 00:01:00| 087XX S SANGAMON ST|1153|DECEPTIVE PRACTICE|FINANCIAL IDENTIT...|           RESIDENCE| false|   false|2222|     022|  21|            71|      11|        NULL|        NULL|2014|04/06/2019 04:04:...|    NULL|     NULL|    NULL|  1|
+--------+-----------+-------------------+--------------------+----+------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+--------+---------+--------+---+
only showing top 5 rows

In [ ]:
#faire des filtration sur des lignes
#crimes signalés le 25-12-2023
one_day=df.filter(df.Date=='2023-12-25')
one_day.count()

24

In [ ]:
one_day2=df.filter(col('Date')=='2023-12-25')
one_day2.count()

24

In [ ]:
one_day==one_day2

False

In [ ]:
one_day.distinct().count()

24

In [50]:
#grouper selon la colonne Primary Type
df.groupBy('Primary Type').count().show()

+--------------------+-------+
|        Primary Type|  count|
+--------------------+-------+
|OFFENSE INVOLVING...|  58345|
|CRIMINAL SEXUAL A...|   9201|
|            STALKING|   5473|
|PUBLIC PEACE VIOL...|  53558|
|           OBSCENITY|    881|
|               ARSON|  13926|
|            GAMBLING|  14643|
|   CRIMINAL TRESPASS| 220561|
|             ASSAULT| 538329|
|LIQUOR LAW VIOLATION|  15147|
| MOTOR VEHICLE THEFT| 409630|
|               THEFT|1720951|
|             BATTERY|1483803|
|             ROBBERY| 306443|
|            HOMICIDE|  13388|
|           RITUALISM|     24|
|    PUBLIC INDECENCY|    203|
| CRIM SEXUAL ASSAULT|  27455|
|   HUMAN TRAFFICKING|    109|
|        INTIMIDATION|   4927|
+--------------------+-------+
only showing top 20 rows

In [51]:
#Quel est le pourcentage de crimes signalées depuis 2001 qui ont conduit à des arrestations
df.filter(df.Arrest=='true').count()/df.select('Arrest').count()

0.2556468241887374

In [53]:
#QUels sont les 3 principaux lieux pour les crimes signalés
n_location=df.groupBy('Location Description').count()
n_location.show()

+--------------------+------+
|Location Description| count|
+--------------------+------+
|SCHOOL - PRIVATE ...|  1145|
|AIRPORT TERMINAL ...|  2545|
|VEHICLE - COMMERCIAL|   973|
|POLICE FACILITY/V...| 18566|
|RESIDENCE - YARD ...| 12673|
|CHA PARKING LOT /...|  1966|
|            SIDEWALK|747443|
|AIRPORT TERMINAL ...|   134|
|OTHER RAILROAD PR...|   535|
|CTA GARAGE / OTHE...| 10276|
|            CAR WASH|  3496|
|    AIRPORT/AIRCRAFT| 16296|
|            HOSPITAL|    16|
|MEDICAL/DENTAL OF...|  7430|
|    FEDERAL BUILDING|  1023|
|         CTA STATION|  7382|
|SCHOOL, PUBLIC, G...| 30252|
|SPORTS ARENA/STADIUM|  5290|
|                FARM|     9|
|            CEMETARY|   431|
+--------------------+------+
only showing top 20 rows

In [55]:
n_location.orderBy('count',ascending=False).show(3)

+--------------------+-------+
|Location Description|  count|
+--------------------+-------+
|              STREET|2126465|
|           RESIDENCE|1348146|
|           APARTMENT| 944976|
+--------------------+-------+
only showing top 3 rows

In [63]:
#crime moins signalé
df.groupBy('Primary Type').count().orderBy('count',ascending=True).show(10,truncate=False)

+---------------------------------+-----+
|Primary Type                     |count|
+---------------------------------+-----+
|DOMESTIC VIOLENCE                |1    |
|NON-CRIMINAL (SUBJECT SPECIFIED) |9    |
|RITUALISM                        |24   |
|NON - CRIMINAL                   |38   |
|HUMAN TRAFFICKING                |109  |
|OTHER NARCOTIC VIOLATION         |153  |
|NON-CRIMINAL                     |185  |
|PUBLIC INDECENCY                 |203  |
|OBSCENITY                        |881  |
|CONCEALED CARRY LICENSE VIOLATION|1352 |
+---------------------------------+-----+
only showing top 10 rows

In [64]:
#activité non criminelle la moins signalée
df.filter(df['Primary Type']=='NON - CRIMINAL').groupBy('Description').count().orderBy('count',ascending=False).show(truncate=False)

+-----------------+-----+
|Description      |count|
+-----------------+-----+
|FOID - REVOCATION|38   |
+-----------------+-----+

In [65]:
#activité criminelle la moins signalée
df.filter(df['Primary Type']=='CRIMINAL').groupBy('Description').count().orderBy('count',ascending=False).show(truncate=False)

+-----------+-----+
|Description|count|
+-----------+-----+
+-----------+-----+

In [70]:
from os import truncate
#activité criminelle la plus signaléé
df.groupBy('Primary Type').count().orderBy('count',ascending=False).show(truncate=False)

+--------------------------------+-------+
|Primary Type                    |count  |
+--------------------------------+-------+
|THEFT                           |1720951|
|BATTERY                         |1483803|
|CRIMINAL DAMAGE                 |926615 |
|NARCOTICS                       |755364 |
|ASSAULT                         |538329 |
|OTHER OFFENSE                   |505410 |
|BURGLARY                        |434461 |
|MOTOR VEHICLE THEFT             |409630 |
|DECEPTIVE PRACTICE              |368568 |
|ROBBERY                         |306443 |
|CRIMINAL TRESPASS               |220561 |
|WEAPONS VIOLATION               |117798 |
|PROSTITUTION                    |70144  |
|OFFENSE INVOLVING CHILDREN      |58345  |
|PUBLIC PEACE VIOLATION          |53558  |
|SEX OFFENSE                     |32614  |
|CRIM SEXUAL ASSAULT             |27455  |
|INTERFERENCE WITH PUBLIC OFFICER|19211  |
|LIQUOR LAW VIOLATION            |15147  |
|GAMBLING                        |14643  |
+--------------------------------+-------+
only showing top 20 rows

In [71]:
#Dataframe des activités non-criminal
df_non_criminal=df.filter(df['Primary Type']=='NON - CRIMINAL')
df_non_criminal.show(5)

+-------+-----------+-------------------+--------------------+----+--------------+-----------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+---+
|     ID|Case Number|               Date|               Block|IUCR|  Primary Type|      Description|Location Description|Arrest|Domestic|Beat|District|Ward|Community Area|FBI Code|X Coordinate|Y Coordinate|Year|          Updated On|    Latitude|    Longitude|            Location|One|
+-------+-----------+-------------------+--------------------+----+--------------+-----------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+---+
|9284607|   HW428723|2013-08-29 09:30:00|    007XX E 111TH ST|5114|NON - CRIMINAL|FOID - REVOCATION|POLICE FACILITY/V...| false|   false|0531|     005|   9|            50|      26|     1183356|     1831503|2013|02/10/2018 03:50:...|41.692833841| -87.60431945|(41.692833841, -8...|  1|
|9406560|   HW549849|2013-11-27 10:20:00|    022XX E 103RD ST|5114|NON - CRIMINAL|FOID - REVOCATION|POLICE FACILITY/V...| false|   false|0434|     004|  10|            51|      26|     1192874|     1837123|2013|02/10/2018 03:50:...|41.708029389|-87.569290282|(41.708029389, -8...|  1|
|9366682|   HW510040|2013-10-28 07:15:00|     019XX W OHIO ST|5114|NON - CRIMINAL|FOID - REVOCATION|           RESIDENCE| false|   false|1221|     012|   1|            24|      26|     1163389|     1904029|2013|02/10/2018 03:50:...|41.892294874|-87.675390277|(41.892294874, -8...|  1|
|9640214|   HX290853|2014-06-05 10:00:00|026XX S CALIFORNI...|5114|NON - CRIMINAL|FOID - REVOCATION|GOVERNMENT BUILDI...| false|   false|1033|     010|  12|            30|      26|     1158136|     1886128|2014|02/10/2018 03:50:...|41.843281635|-87.695171094|(41.843281635, -8...|  1|
|9684549|   HX334987|2014-06-30 10:00:00|062XX W EASTWOOD AVE|5114|NON - CRIMINAL|FOID - REVOCATION|              STREET| false|   false|1622|     016|  38|            15|      26|     1133693|     1930201|2014|02/10/2018 03:50:...|41.964686958|-87.783836648|(41.964686958, -8...|  1|
+-------+-----------+-------------------+--------------------+----+--------------+-----------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+---+
only showing top 5 rows

In [72]:
#fonctions de pyspark
from pyspark.sql import functions as F
dir(F)

['Any',
 'ArrayType',
 'Callable',
 'Column',
 'DataFrame',
 'DataType',
 'Dict',
 'Iterable',
 'JVMView',
 'List',
 'Optional',
 'PandasUDFType',
 'PySparkTypeError',
 'PySparkValueError',
 'SparkContext',
 'StringType',
 'StructType',
 'TYPE_CHECKING',
 'Tuple',
 'Type',
 'Union',
 'UserDefinedFunction',
 'UserDefinedTableFunction',
 'ValuesView',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_create_column_from_literal',
 '_create_lambda',
 '_create_py_udf',
 '_create_py_udtf',
 '_from_numpy_type',
 '_get_jvm_function',
 '_get_lambda_parameters',
 '_invoke_binary_math_function',
 '_invoke_function',
 '_invoke_function_over_columns',
 '_invoke_function_over_seq_of_columns',
 '_invoke_higher_order_function',
 '_options_to_str',
 '_test',
 '_to_java_column',
 '_to_seq',
 '_unresolved_named_lambda_variable',
 'abs',
 'acos',
 'acosh',
 'add_months',
 'aes_decrypt',
 'aes_encrypt',
 'aggregate',
 'any_value',
 'approxCountDistinct',
 'approx_count_distinct',
 'approx_percentile',
 'array',
 'array_agg',
 'array_append',
 'array_compact',
 'array_contains',
 'array_distinct',
 'array_except',
 'array_insert',
 'array_intersect',
 'array_join',
 'array_max',
 'array_min',
 'array_position',
 'array_prepend',
 'array_remove',
 'array_repeat',
 'array_size',
 'array_sort',
 'array_union',
 'arrays_overlap',
 'arrays_zip',
 'asc',
 'asc_nulls_first',
 'asc_nulls_last',
 'ascii',
 'asin',
 'asinh',
 'assert_true',
 'atan',
 'atan2',
 'atanh',
 'avg',
 'base64',
 'bin',
 'bit_and',
 'bit_count',
 'bit_get',
 'bit_length',
 'bit_or',
 'bit_xor',
 'bitmap_bit_position',
 'bitmap_bucket_number',
 'bitmap_construct_agg',
 'bitmap_count',
 'bitmap_or_agg',
 'bitwiseNOT',
 'bitwise_not',
 'bool_and',
 'bool_or',
 'broadcast',
 'bround',
 'btrim',
 'bucket',
 'call_function',
 'call_udf',
 'cardinality',
 'cast',
 'cbrt',
 'ceil',
 'ceiling',
 'char',
 'char_length',
 'character_length',
 'coalesce',
 'col',
 'collect_list',
 'collect_set',
 'column',
 'concat',
 'concat_ws',
 'contains',
 'conv',
 'convert_timezone',
 'corr',
 'cos',
 'cosh',
 'cot',
 'count',
 'countDistinct',
 'count_distinct',
 'count_if',
 'count_min_sketch',
 'covar_pop',
 'covar_samp',
 'crc32',
 'create_map',
 'csc',
 'cume_dist',
 'curdate',
 'current_catalog',
 'current_database',
 'current_date',
 'current_schema',
 'current_timestamp',
 'current_timezone',
 'current_user',
 'date_add',
 'date_diff',
 'date_format',
 'date_from_unix_date',
 'date_part',
 'date_sub',
 'date_trunc',
 'dateadd',
 'datediff',
 'datepart',
 'day',
 'dayofmonth',
 'dayofweek',
 'dayofyear',
 'days',
 'decimal',
 'decode',
 'degrees',
 'dense_rank',
 'desc',
 'desc_nulls_first',
 'desc_nulls_last',
 'e',
 'element_at',
 'elt',
 'encode',
 'endswith',
 'equal_null',
 'every',
 'exists',
 'exp',
 'explode',
 'explode_outer',
 'expm1',
 'expr',
 'extract',
 'factorial',
 'filter',
 'find_in_set',
 'first',
 'first_value',
 'flatten',
 'floor',
 'forall',
 'format_number',
 'format_string',
 'from_csv',
 'from_json',
 'from_unixtime',
 'from_utc_timestamp',
 'functools',
 'get',
 'get_active_spark_context',
 'get_json_object',
 'getbit',
 'greatest',
 'grouping',
 'grouping_id',
 'has_numpy',
 'hash',
 'hex',
 'histogram_numeric',
 'hll_sketch_agg',
 'hll_sketch_estimate',
 'hll_union',
 'hll_union_agg',
 'hour',
 'hours',
 'hypot',
 'ifnull',
 'ilike',
 'initcap',
 'inline',
 'inline_outer',
 'input_file_block_length',
 'input_file_block_start',
 'input_file_name',
 'inspect',
 'instr',
 'isnan',
 'isnotnull',
 'isnull',
 'java_method',
 'json_array_length',
 'json_object_keys',
 'json_tuple',
 'kurtosis',
 'lag',
 'last',
 'last_day',
 'last_value',
 'lcase',
 'lead',
 'least',
 'left',
 'length',
 'levenshtein',
 'like',
 'lit',
 'ln',
 'localtimestamp',
 'locate',
 'log',
 'log10',
 'log1p',
 'log2',
 'lower',
 'lpad',
 'ltrim',
 'make_date',
 'make_dt_interval',
 'make_interval',
 'make_timestamp',
 'make_timestamp_ltz',
 'make_timestamp_ntz',
 'make_ym_interval',
 'map_concat',
 'map_contains_key',
 'map_entries',
 'map_filter',
 'map_from_arrays',
 'map_from_entries',
 'map_keys',
 'map_values',
 'map_zip_with',
 'mask',
 'max',
 'max_by',
 'md5',
 'mean',
 'median',
 'min',
 'min_by',
 'minute',
 'mode',
 'monotonically_increasing_id',
 'month',
 'months',
 'months_between',
 'named_struct',
 'nanvl',
 'negate',
 'negative',
 'next_day',
 'now',
 'np',
 'nth_value',
 'ntile',
 'nullif',
 'nvl',
 'nvl2',
 'octet_length',
 'overlay',
 'overload',
 'pandas_udf',
 'parse_url',
 'percent_rank',
 'percentile',
 'percentile_approx',
 'pi',
 'pmod',
 'posexplode',
 'posexplode_outer',
 'position',
 'positive',
 'pow',
 'power',
 'printf',
 'product',
 'quarter',
 'radians',
 'raise_error',
 'rand',
 'randn',
 'rank',
 'reduce',
 'reflect',
 'regexp',
 'regexp_count',
 'regexp_extract',
 'regexp_extract_all',
 'regexp_instr',
 'regexp_like',
 'regexp_replace',
 'regexp_substr',
 'regr_avgx',
 'regr_avgy',
 'regr_count',
 'regr_intercept',
 'regr_r2',
 'regr_slope',
 'regr_sxx',
 'regr_sxy',
 'regr_syy',
 'repeat',
 'replace',
 'reverse',
 'right',
 'rint',
 'rlike',
 'round',
 'row_number',
 'rpad',
 'rtrim',
 'schema_of_csv',
 'schema_of_json',
 'sec',
 'second',
 'sentences',
 'sequence',
 'session_window',
 'sha',
 'sha1',
 'sha2',
 'shiftLeft',
 'shiftRight',
 'shiftRightUnsigned',
 'shiftleft',
 'shiftright',
 'shiftrightunsigned',
 'shuffle',
 'sign',
 'signum',
 'sin',
 'sinh',
 'size',
 'skewness',
 'slice',
 'some',
 'sort_array',
 'soundex',
 'spark_partition_id',
 'split',
 'split_part',
 'sqrt',
 'stack',
 'startswith',
 'std',
 'stddev',
 'stddev_pop',
 'stddev_samp',
 'str_to_map',
 'struct',
 'substr',
 'substring',
 'substring_index',
 'sum',
 'sumDistinct',
 'sum_distinct',
 'sys',
 'tan',
 'tanh',
 'timestamp_micros',
 'timestamp_millis',
 'timestamp_seconds',
 'toDegrees',
 'toRadians',
 'to_binary',
 'to_char',
 'to_csv',
 'to_date',
 'to_json',
 'to_number',
 'to_str',
 'to_timestamp',
 'to_timestamp_ltz',
 'to_timestamp_ntz',
 'to_unix_timestamp',
 'to_utc_timestamp',
 'to_varchar',
 'transform',
 'transform_keys',
 'transform_values',
 'translate',
 'trim',
 'trunc',
 'try_add',
 'try_aes_decrypt',
 'try_avg',
 'try_divide',
 'try_element_at',
 'try_multiply',
 'try_remote_functions',
 'try_subtract',
 'try_sum',
 'try_to_binary',
 'try_to_number',
 'try_to_timestamp',
 'typeof',
 'ucase',
 'udf',
 'udtf',
 'unbase64',
 'unhex',
 'unix_date',
 'unix_micros',
 'unix_millis',
 'unix_seconds',
 'unix_timestamp',
 'unwrap_udt',
 'upper',
 'url_decode',
 'url_encode',
 'user',
 'var_pop',
 'var_samp',
 'variance',
 'version',
 'warnings',
 'weekday',
 'weekofyear',
 'when',
 'width_bucket',
 'window',
 'window_time',
 'xpath',
 'xpath_boolean',
 'xpath_double',
 'xpath_float',
 'xpath_int',
 'xpath_long',
 'xpath_number',
 'xpath_short',
 'xpath_string',
 'xxhash64',
 'year',
 'years',
 'zip_with']

In [73]:
len(dir(F))

484